<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oyyj.blogservice.mapper.BlogMapper">


    <select id="getBlogTypeList" resultType="org.oyyj.blogservice.dto.BlogTypeDTO">
        SELECT
            b.id AS blogId,
            tt.name AS blogType
        FROM blog b
        INNER JOIN type_blog tb ON tb.blog_id = b.id
        INNER JOIN type_table tt ON tt.id = tb.type_id
        <where>
            <if test="blogIds != null and blogIds.size() > 0">
                b.id  in
                <foreach collection="blogIds" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="selectBlogIdRand" resultType="java.lang.Long">
        SELECT id
        FROM blog
        WHERE MOD(id,1000) = FLOOR(RAND()*1000)
        LIMIT 1000
    </select>
</mapper>
