<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oyyj.userservice.mapper.UserMapper">

    <select id="userFunS" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM user_attention
        <where>
            <if test="userId != null">
                attention_id = #{userId}
            </if>
        </where>
    </select>
    <select id="userAttention" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM user_attention
        <where>
            <if test="userId != null ">
                user_id = #{userId}
            </if>
        </where>
    </select>
</mapper>
