spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      lettuce:
        pool:
          min-idle: 0
          max-active: 16
          max-wait: -1ms
          max-idle: 8
  cloud:
    nacos:
      discovery:
        service: UserService
        server-addr: localhost:8848
        cluster-name: BJ
        # ip: 47.120.35.205  # 部署

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/my_blog_userDB?serverTimezone=UTC # ?前面是数据库名
    username: root
    password: OYyj0715
  application:
    name: UserService

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: isDelete #默认deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
  configuration: #配置打印MyBatis日志
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
  mapper-locations: classpath*:mapper/*.xml
server:
  port: 8081

user:
  header-url: H:/10516/Test/image/

cors:
  allow: http://localhost:8001/  # 规定前端允许的域名


# 雪花算法配置（不同服务/机器配置不同的worker-id，避免重复）
snowflake:
  worker-id: 2        # 机器ID（范围0-1023，分布式环境下每台机器唯一）
  datacenter-id: 0    # 数据中心ID（范围0-31，可选）


# minio 相关配置
minio:
  endpoint: http://127.0.0.1:9090
  access-key: minioadmin
  access-secret: minioadmin
  image-bucket-name: image-bucket  # 存储头像 文章中的图片 等等图片存储桶
  document-bucket-name: document-bucket # 存储用户的文档相关的桶
  file-chunk-bucket-name: file-chunk-bucket # 分片桶
  max-file-size: 10 # 单独上传最大限制 MB
  part-file-size: 5 # 分片上传 片大小 MB
  buckets: image-bucket,document-bucket,file-chunk-bucket

  # 文件临时目录
  temp-file-path: D:\oyyj\Documents\temp
  local-file-path: D:\oyyj\Documents\local

