spring:
  application:
    name: GateWayDemo

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        # server-addr: http://47.120.35.205:7001/nacos
    gateway:
      routes:
        # 当前服务处理 登录
        - id: AuthLogin
          uri: no://op # 特殊URI 不需要转发
          predicates:
            - Path=/auth/login
          filters:
            - name: LocalRequestFilter # 指定处理登录/注册逻辑的过滤器
              args:
                handle-type: LOGIN

        # 当前服务处理 注册
        - id: AuthRegister
          uri: no://op
          predicates:
            - Path=/auth/register
          filters:
            - name: LocalRequestFilter
              args:
                handle-type: REGISTER

        # 3. 登出路由 - 本地处理
        - id: auth-logout
          uri: no://op
          predicates:
            - Path=/auth/logout
          filters:
            - name: LocalRequestFilter
              args:
                handler-type: LOGOUT

        - id: UserService
          uri: lb://UserService
          predicates: # 路由匹配规则
            - Path=/myBlog/user/**

        - id: AIChatDemoService
          uri: lb://AIChatDemoService
          predicates:
            - Path=/llm/**

        - id: AdminService
          uri: lb://AdminService
          predicates:
            - Path=/admin/**

        - id: TaskService
          uri: lb://TaskService
          predicates:
            - Path=/task/**

        - id: BlogService
          uri: lb://BlogService
          predicates:
            - Path=/blog/**, /vipCache/** # 实现或关系  如果单独一行就是and关系


      globalcors:
        add-to-simple-url-handler-mapping: true # 解决options请求被拦截问题
        cors-configurations:
          '[/**]': # 匹配所有请求
            allowed-origins:
              - "http://localhost:5173" # 允许区域
              - "http://localhost:8079" # 允许区域
            allowed-methods:
              - "GET"
              - "POST"
              - "PUT"
              - "DELETE"
              - "OPTIONS"
            allowed-headers:
              - "*"
            allow-credentials: true
            exposed-headers:
              - 'verifytoken'  # 允许暴露特定请求头 否则 前端无法获取
              - 'token'
            max-age: 360000
BlogService:
  ribbon:
    NFLoadBalancerRuleClassName: com.alibaba.cloud.nacos.ribbon.NacosRule # 使用Nacos提供的同集

server:
  port: 8080
