spring:
  application:
    name: GateWayDemo
  data: # 作为功能模块 当别的微服务读取时 不会读取common下的 yml文件
    redis:
      host: localhost
      port: 6379
      database: 0
      lettuce:
        pool:
          min-idle: 0
          max-active: 16
          max-wait: -1ms
          max-idle: 8
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/my_blog_blogDB?serverTimezone=UTC # ?前面是数据库名
    username: root
    password: OYyj0715

  cloud:
    nacos:
      discovery:
        service: GateWayDemo
        server-addr: 192.168.101.1:8848
        cluster-name: BJ  # 假设网关部署在 BJ 集群，优先调用 BJ 集群的 BlogService
    gateway:
      routes:
        # 当前服务处理 登录
        - id: AuthLogin
          uri: no://op # 特殊URI 不需要转发
          predicates:
            - Path=/auth/login
          filters:
            - name: LocalRequestFilter # 指定处理登录/注册逻辑的过滤器
              args:
                handle-type: LOGIN

        # 当前服务处理 注册
        - id: AuthRegister
          uri: no://op
          predicates:
            - Path=/auth/register
          filters:
            - name: LocalRequestFilter
              args:
                handle-type: REGISTER

        # 3. 登出路由 - 本地处理
        - id: auth-logout
          uri: no://op
          predicates:
            - Path=/auth/logout
          filters:
            - name: LocalRequestFilter
              args:
                handler-type: LOGOUT

        - id: UserService
          uri: lb://UserService
          predicates: # 路由匹配规则
            - Path=/myBlog/user/**

        - id: AIChatDemoService
          uri: lb://AIChatDemoService
          predicates:
            - Path=/llm/**

        - id: AdminService
          uri: lb://AdminService
          predicates:
            - Path=/admin/**

        - id: TaskService
          uri: lb://TaskService
          predicates:
            - Path=/task/**

        - id: BlogService
          uri: lb://BlogService
          predicates:
            - Path=/blog/**, /vipCache/** # 实现或关系  如果单独一行就是and关系


      globalcors:
        add-to-simple-url-handler-mapping: true # 解决options请求被拦截问题
        cors-configurations:
          '[/**]': # 匹配所有请求
            allowed-origins:
              - "http://localhost:5173" # 允许区域
              - "http://localhost:8079" # 允许区域
            allowed-methods:
              - "GET"
              - "POST"
              - "PUT"
              - "DELETE"
              - "OPTIONS"
            allowed-headers:
              - "*"
            allow-credentials: true
            exposed-headers:
              - 'verifytoken'  # 允许暴露特定请求头 否则 前端无法获取
              - 'token'
            max-age: 360000
BlogService:
  ribbon:
    NFLoadBalancerRuleClassName: com.alibaba.cloud.nacos.ribbon.NacosRule # 使用Nacos提供的同集

server:
  port: 8080

logging:
  level:
    # Gateway核心路由匹配包：打印路由匹配结果
    org.springframework.cloud.gateway.route.RoutePredicateHandlerMapping: DEBUG
    # Gateway转发核心包：打印转发目标、状态
    org.springframework.cloud.gateway.handler.FilteringWebHandler: INFO
    # 可选：打印HTTP请求详情
    org.springframework.http.server.reactive: INFO
    reactor.netty.http.client: INFO
