spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      lettuce:
        pool:
          min-idle: 0
          max-active: 16
          max-wait: -1ms
          max-idle: 8
  cloud:
    nacos:
      discovery:
        service: BlogService
        server-addr: localhost:8848
        cluster-name: BJ  # 假设网关部署在 BJ 集群，优先调用 BJ 集群的 BlogService
  application:
    name: BlogService
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/my_blog_blogDB?serverTimezone=UTC # ?前面是数据库名
    username: root
    password: OYyj0715

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
    publisher-confirm-type: correlated # 开启生产者确认模式
    publisher-returns: false # 生产者返回模式  ---- return 返回  没必要开 消耗性能（return 回来的 基本都是因为配置的mq存在问题）
    listener:
      simple:
        concurrency: 1 #消费者数量
        max-concurrency: 1  #消费者最大数量
        default-requeue-rejected: false #消息消费失败后，重新进入消费队列中
        acknowledge-mode: manual #消费者 手动确认
        prefetch: 1 #每一次预取一条数据
        retry: # 只是重试连接机制
          enabled: true # 开启重试
          max-attempts: 3 # 最大重试次数
          initial-interval:  1000ms # 初始重试间隔
    virtual-host: firstHost
    cache:
      channel:
        size: 25 # 缓存通道的数量，根据并发量调整
        checkout-timeout: 10000ms # 等待获取通道的超时时间（建议设置）
      connection:
        mode: CHANNEL # 缓存模式，通常CHANNEL模式性能更好
        size: 1 # 缓存连接数

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: isDelete #默认deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
  configuration: #配置打印MyBatis日志
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
  mapper-locations: classpath*:mapper/*.xml
server:
  port: 8082

tokenBucket:
  capacity: 2000
  addTokenNum: 1500