spring:
  application:
    name: MyCommonBase
  data: # 作为功能模块 当别的微服务读取时 不会读取common下的 yml文件
    redis:
      host: localhost
      port: 6379
      database: 0
      lettuce:
        pool:
          min-idle: 0
          max-active: 16
          max-wait: -1ms
          max-idle: 8
