spring:
  application:
    name: MyCommonBase
  data: # 作为功能模块 当别的微服务读取时 不会读取common下的 yml文件
    redis:
      host: localhost
      port: 6379
      database: 0
      lettuce:
        pool:
          min-idle: 0
          max-active: 16
          max-wait: -1ms
          max-idle: 8
ase:
  key:  MmNkdTByamdjMm95eWoyeA==  # 16字节
  iv-prefix: cm9qeWd5Y2o=  # 随机IV 前缀配置
  iv-prefix-length: 8 # 随机IV 前缀长度